<div class="listContainer">
    <div class="mb-4 shopFontTitle" style="font-size: 250%;">
            Live Chat Support Requests
    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Request Timing</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Department</th>
      <th scope="col">Problem Description</th>
      <th scope="col">Urgent</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">12:00 PM | Jul 02</td>
      <td>Mark</td>
      <td>mark@gmail.com</td>
      <td>91231912</td>
      <td>Order Status</td>
      <td>I wish to check my order status</td>
      <td><i class="fas fa-check"></i></td>
      <td><button class="btn btn-success mr-2">Join room</button><button class="btn btn-danger">Delete room</button></td>
    </tr>
    <tr>
      <td scope="row">12:30 PM | Jul 02</td>
      <td>Jack</td>
      <td>jack@gmail.com</td>
      <td></td>
      <td>Warranty</td>
      <td>Is there any warranty on the deno cap ?</td>
      <td></td>
      <td><button class="btn btn-success mr-2">Join room</button><button class="btn btn-danger">Delete room</button></td>
    </tr>
    <tr>
      <td scope="row">12:40 PM | Jul 02</td>
      <td>John</td>
      <td>john@gmail.com</td>
      <td>12345678</td>
      <td>Product Advice and Enquiries</td>
      <td>When will the deno hoodie be in stock again ?</td>
      <td></td>
      <td><button class="btn btn-success mr-2">Join room</button><button class="btn btn-danger">Delete room</button></td>
    </tr>
    <tr>
      <td scope="row">12:55 PM | Jul 02</td>
      <td>Christ</td>
      <td>christ@gmail.com</td>
      <td>81238718</td>
      <td>Others</td>
      <td>My credit card keeps getting declined</td>
      <td><i class="fas fa-check"></i></td>
      <td><button class="btn btn-success mr-2">Join room</button><button class="btn btn-danger">Delete room</button></td>
    </tr>
  </tbody>
</table>
</div>
