<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
</head>
<body>
  <div id="room-container">
      {{#each rooms}}
        Key: {{@key}} Value = {{this}}

        <a href="/chat/{{@key}}" style='color:red'>Join</a>
      {{/each}}
    {{!-- <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
    <% }) %> --}}
  </div>
    <form action="/chat/room" method="POST">
    {{!-- <form id="roomForm"> --}}
    <input name="room" id="room" type="text" required>
    <button type="submit">New Room</button>
    </form>
</body>
</html>