{{#if (noEqual user) }}
{{#unless (equal title "Video Support")}}
{{#unless (equal title "Chat Support")}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script defer src="/js/chat/popup.js"></script>
<script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
<script defer src="/js/chat/chatbotScript.js"></script>
<div class="chatbox chatbox--tray">
  <div class="chatbox__title">
      <h5><a href="#">ChatBot</a></h5>
      <button class="chatbox__title__tray">
          <span></span>
      </button>
      <button class="chatbox__title__close">
          <span>
              <svg viewBox="0 0 12 12" width="12px" height="12px">
                  <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                  <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
              </svg>
          </span>
      </button>
  </div>
  <div class="chatbox__body" id="message-container">
      <p class="small font-italic text-muted">Ask me anything</p>
  </div>
  {{!-- <textarea class="chatbox__message" placeholder="Write something interesting"></textarea> --}}
  <form class="bg-light" id="bot-container">
        <div class="input-group">
          <input type="text" placeholder="Type a message" class="form-control rounded-0 border-0 py-4 bg-light" id='message-input' value="">
          <input type="hidden" id="userid" value="{{userid}}">
          <div class="input-group-append">
            <button id="send-button" type="submit" class="btn btn-link" style="z-index: 1;"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>
</div>
<style>
  .chatbox {
    position: relative;
    float: right;
    bottom: 0;
    right: 30px;
    width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;

    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
}

.chatbox--tray {
    bottom: -350px;
}


.chatbox--closed {
    bottom: -400px;
}

.chatbox .form-control:focus {
    border-color: #1f2836;
}

.chatbox__title,
.chatbox__body {
    border-bottom: none;
}

.chatbox__title {
    min-height: 50px;
    padding-right: 10px;
    background-color: #1f2836;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
}

.chatbox__title h5 {
    height: 50px;
    margin: 0 0 0 15px;
    line-height: 50px;
    position: relative;
    padding-left: 20px;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__title h5 a {
    color: #fff;
    max-width: 195px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatbox__title h5:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background: #4CAF50;
    border-radius: 6px;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chatbox__title__tray,
.chatbox__title__close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;

    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.chatbox__title__tray:hover,
.chatbox__title__close:hover {
    opacity: 1;
}

.chatbox__title__tray span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-bottom: 2px solid #fff
}

.chatbox__title__close svg {
    vertical-align: middle;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
    padding: 15px;
    border-top: 0;
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__credentials {
    display: none;
}

.chatbox__credentials .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chatbox__body {
    font-size: 14px;
    overflow-y: auto;
}

#message-container {
    display: flex;
    flex: content;
    flex-direction: column;
}

.chatbox__message {
    padding: 15px;
    min-height: 50px;
    outline: 0;
    resize: none;
    border: none;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fefefe;
}
.media {
    flex-direction: column;
    max-width: 75%;
}
.media > div {
    width: 100%;
    max-width: 100%;
}
.media > div > p {
    max-width: 100%;
    word-wrap: break-word;
}
</style>
{{/unless}}
{{/unless}}
{{/if}}
<footer class="homeFooter" style="z-index: 2;">
	<div class="footerSelection">
		<p class="backToTop">
			<a href="#">
				Back To Top
			</a>
		</p>
	</div>
	<div class="footerMainInfo">
		<div class="footerBlock">
			<h3>
				About Us
			</h3>
			<p>
				We are selling products to make you a real HACKER!!!
			</p>
			<p class="twoPlatform">
				<a
					href="https://www.instagram.com/xy.yu/"
					class="insta"
					target="_blank"
				>
					<i class="fab fa-instagram"></i>
				</a>
				<a
					href="https://github.com/XinYang-YXY?tab=repositories"
					class="github"
					target="_blank"
				>
					<i class="fab fa-github-alt"></i>
				</a>
				<a
					href="https://linkedin.com/in/xinyang-yu"
					class="myLinkedin"
					target="_blank"
				>
					<i class="fab fa-linkedin"></i>
				</a>
			</p>
		</div>
		<div class="footerBlock">
			<h3>
				Lead Page
			</h3>
			<p>
				Check the website of the lead out!!!
			</p>
			<div class="twoPlatform">
				<a href="https://yxy.ninja" class="myWeb" target="_blank">
					<i class="fas fa-globe"></i>
				</a>
			</div>
		</div>
		<div class="footerBlock">
			<h3>
				Contact Info
			</h3>
			<p>
				<i class="far fa-compass footerIcon"></i>
				Nanyang Polytechnic, 180 Ang Mo Kio Ave 8, Singapore
						569830
			</p>
			<p>
				<i class="far fa-envelope footerIcon"></i>
				me@denoshop.com
			</p>
		</div>
	</div>
	<div class="copyright">
		Copyright © 2019-2020 YXY. All rights reserved.
	</div>
</footer>