<footer class="homeFooter">
	<div class="footerSelection">
		<p class="backToTop">
			<a href="#">
				Back To Top
			</a>
		</p>
	</div>
	<div class="footerMainInfo">
		<div class="footerBlock">
			<h3>
				About Us
			</h3>
			<p>
				We are selling products to make you a real HACKER!!!
			</p>
			<p class="twoPlatform">
				<a
					href="https://www.instagram.com/xy.yu/"
					class="insta"
					target="_blank"
				>
					<i class="fab fa-instagram"></i>
				</a>
				<a
					href="https://github.com/XinYang-YXY?tab=repositories"
					class="github"
					target="_blank"
				>
					<i class="fab fa-github-alt"></i>
				</a>
				<a
					href="https://linkedin.com/in/xinyang-yu"
					class="myLinkedin"
					target="_blank"
				>
					<i class="fab fa-linkedin"></i>
				</a>
			</p>
		</div>
		<div class="footerBlock">
			<h3>
				Lead Page
			</h3>
			<p>
				Check the website of the lead out!!!
			</p>
			<div class="twoPlatform">
				<a href="https://yxy.ninja" class="myWeb" target="_blank">
					<i class="fas fa-globe"></i>
				</a>
			</div>
		</div>
		<div class="footerBlock">
			<h3>
				Contact Info
			</h3>
			<p>
				<i class="far fa-compass footerIcon"></i>
				Nanyang Polytechnic, 180 Ang Mo Kio Ave 8, Singapore
						569830
			</p>
			<p>
				<i class="far fa-envelope footerIcon"></i>
				me@denoshop.com
			</p>
		</div>
	</div>
	<div class="copyright">
		Copyright © 2019-2020 YXY. All rights reserved.
	</div>
</footer>