.shopItem {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin-top: 10px;
}

#no_wishlist {
	font-family: text;
	font-size: 1.5rem;
	text-align: center;
}

.shopItemDetails {
	padding-left: 35px;
	font-family: text;
	font-size: 1.15rem;
}

.addToCart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.btn-outline-primary {
	border: 1px solid #262729;
	color: black;
}

.btn-outline-primary:hover {
	border: 1px solid #262729;
	background-color: black;
}

.card {
	box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: rgba(230, 231, 232, 0.24);
	width: 100%;
}

.card-body{
	padding: 1rem;
	font-family: text;
}
