.workContent {
    padding-top: 25px;
    padding-bottom: 40px;
}

a {
    color: #262729;
}

.breadcrumb-link{
    color: dodgerblue;
}

.breadcrumb-link:hover{
    color: rgba( 30, 144, 255, 0.5);
}

.deliverDate {
	float: right;
}

.cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.cartItem {
    padding-bottom: 15px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5%;
    background-color: rgba(230, 231, 232, 0.24);
    width: 100%;
}

.disappear {
	display: none;
}

a.collapsed h5 i.fa-angle-left {
	-webkit-transform: rotate(0deg) !important;
   -moz-transform: rotate(0deg) !important;
   -o-transform: rotate(0deg) !important;
   -ms-transform: rotate(0deg) !important;
   transform: rotate(0deg) !important;
 
   -webkit-transition: transform 0.25s ease;
	 -o-transition: transform 0.25s ease;
	 transition: transform 0.25s ease;
}
 
a h5 i.fa-angle-left {
	transform: rotate(-90deg) !important;
	-webkit-transform: rotate(-90deg) !important;
   -moz-transform: rotate(-90deg) !important;
   -o-transform: rotate(-90deg) !important;
   -ms-transform: rotate(-90deg) !important;
 
   -webkit-transition: transform 0.25s ease;
	 -o-transition: transform 0.25s ease;
	 transition: transform 0.25s ease;
}
 
a.collapsed h5 span.deliverDate {
	display: block;
}

a h5 span.deliverDate {
	display: none;
}

.aLink {
	width: 100%;
}

.itemQty {
	text-align: right;
}

.orderContent {
	margin-left: 0;
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	/*text-align: center;*/ /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
} 

.itemside {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	align-content: center;
}

.itemside .aside {
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.img-sm {
	width: 80px;
	height: 80px;
	padding: 7px
}

ul.row,
ul.row-sm {
	list-style: none;
}

.itemside .info {
	padding-left: 15px;
	padding-right: 7px
}

.itemside .title {
	display: block;
	margin-bottom: 5px;
	color: #212529;
	font-size: 1em;
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}
 

/* Order Status */
.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}
 
.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #FF5722
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #ee5435;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}
/* Order Status */

.price {
	float:right
}

#invoiceBtn {
	display: inherit;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #212529;
	border: 1px solid transparent;
	padding: 0.3em;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	float: right;
}

#invoiceBtn:hover {
	display: inherit;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	border: 1px solid #212529;
	padding: 0.3em;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	float: right;
}

 /* Responsive */
 @media screen and (max-width: 1000px) {
	#deliverTime {
		display: none;
	}

	.itemside .aside {
		padding: 0;
	}

    .track {
		position: relative;
		background-color: transparent;
		width: 7px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: 2em;
		margin-right: 1.5em;
		flex-direction: column;
		height: fit-content
    }
	
	.track .step {
		position: relative;
		margin-top: 10px
    }
	   
	.track .text {
		margin-top: -35px;
		margin-bottom: 40px;
		float: left;
		margin-left: 50px;
		width: max-content;
    }
	
	.track {
    margin-top: 0px;
    margin-bottom: 0px;
    }
 }