a:hover{
  text-decoration: none;
  color:black;
}
.workContent{
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 113px;
}
.preventFloat{
  position: None;
}

.content-section{
  position: relative;
  margin:auto;
  opacity: 0.8;
  box-shadow: 0 0px 9px 0px rgb(255, 255, 255);


}
.btn {
  width: 100%;
}

.redirectText{
  font-size: small;
  text-align: center;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  
}

@media only screen and (min-width: 400px) {
  .workContent{
  padding-left: 0px;
  padding-right: 0px;
}
.content-section{
  position: relative;
  margin:auto;
  width:380px;

}

}