.wrapper {
  height:100vh;
}
  
.remote-video {
  z-index: 1;
  border: 1px solid #cddfe7;
  width: 90%;
  height: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.local-video {
  z-index: 2;
  position: absolute;
  border: 1px solid #cddfe7;
  bottom: 20px;
  right: 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 15vw;
}

h3{
  margin-top: 15px;
  font-family: text;
}