.workContent {
    padding-top: 90px;
}
.updateBox{
    width: 650px;
    margin-left:180px;
    margin-top: 30px;
    height:37.5px;
    border-radius: 6.5px;
    /* border-color: #00ffff; */
    border-style: solid;
}
.tableStatus{
    text-align:center;
    margin-top:80px;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
.trackingHistoryHeader{
    font-size: 23px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
