

{{>  flashMsg/simpleFlashMsg}}
    {{> flashMsg/flashmsg}}
<div class="content-section">
	<div class="media accountHeader">
		<img
			src="{{user.imageFile}}"
			class="img-thumbnail account-img"
		/>
		<div class="accountInfo">
			<h2 class="account-heading">
				{{user.username}}
			</h2>
			<p class="text-secondary">
				{{user.email}}
			</p>
		</div>
	</div>
</div>



<main role="main" class="container"></main>
  <div class="row">

    <div class="col-md-3 mb-5">
      <div class="nav flex-column nav-pills border rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link  border-bottom" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-user-circle" aria-hidden="true"></i> My Profile</a>
        <a class="nav-link border-bottom" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-archive" aria-hidden="true"></i> My Orders</a>
        <a class="nav-link border-bottom" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-credit-card" aria-hidden="true"></i> My Wallet</a>
        <a class="nav-link  border-bottom" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-heart" aria-hidden="true"></i> Shopping Wishlist</a>
        {{!-- Last tab should not have border-bottom --}}
        <a class="nav-link active " id="v-pills-address-tab" data-toggle="pill" href="#v-pills-address" role="tab" aria-controls="v-pills-address" aria-selected="false"><i class="fa fa-location-arrow" aria-hidden="true"></i> My Address</a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{{> userDashboard/accountInfo}}</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{> userDashboard/accountOrders}}</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">{{> userDashboard/accountWallet}}</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">{{> userDashboard/accountWishlist}}</div>
        <div class="tab-pane fade show active" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">{{> userDashboard/accountAddresses}}</div>
      </div>
    </div>

  </div>
</main>


