<script src="/js/useInterface/cart.js" defer></script>
<div class="banner">
	<img src="/img/hacking2.jpg" alt="" />
	<div class="background"></div>
	<h2>
		Deno Shop
	</h2>
</div>

<!-- shoppingCart -->
{{>  flashMsg/simpleFlashMsg}}
    {{> flashMsg/flashmsg}}
<section class="shoppingCart">
	<h3>Cart</h3>

    <div class="cartItems">
  
      {{#each cartItems }}
      <div class="cartItem">
        <div class="cartItemDes">
          <div class="cartItemPic">
            <img src="{{this.imageFile}}">
          </div>

          <div class="cartItemInfo">
            <p class="cartItemName">{{ this.title }}</p>
            <div class="cartItemBuyingInfo">
              <p class="cartItemPrice">S${{ this.price }}</p>


                <input type="number" class="cartItemNum" value="{{ this.itemNum }}">

						</div>
					</div>
					<!--End of cart Info-->
				</div>
				<!--End of cart Des-->

        <button type="button" class="removeButton">Remove</button>
      </div>
      {{/each}}
    </div>




</section>
<!-- shoppingCart -->


  <!-- <button type="button" class="checkout">Checkout</button> -->
  <button type="button" class="checkout" onclick="window.location.href = '/payment/checkout'">Checkout</button>
  <button type="button" class="checkout" onclick="window.location.href = '#history;">Purchases</button>

