<div class="content-section">

	{{>  flashMsg/simpleFlashMsg}}
    {{> flashMsg/flashmsg}}
	<form action="/user/login" method="POST">
    
		<fieldset class="form-group">
			<legend class="border-bottom mb-4 shopFontTitle">
				Log In
			</legend>
			<div class="form-group">
				<label class="form-control-label" for="email">
					Email
				</label>
				<input
					class="form-control form-control-lg"
					id="email"
					name="email"
					required
					type="text"
					value=""
				/>
			</div>
			<div class="form-group">
				<label class="form-control-label" for="password">
					Password
				</label>
				<input
					class="form-control form-control-lg"
					id="password"
					name="password"
					required
					type="password"
					value=""
					pattern=".{8,}"
					title="8 characters minimum"
				/>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					id="remember"
					name="remember"
					type="checkbox"
					value="y"
				/>
				<label class="form-check-label" for="remember">
					Remember Me
				</label>
			</div>
		</fieldset>
		<div class="form-group">
			<input
				class="btn btn-outline-info"
				id="submit"
				name="submit"
				type="submit"
				value="Login"
			/>
		</div>
		<small class="text-muted">
			<a class="text-primary" href="#reset_request">
				Forgot Password?
			</a>
		</small>
	</form>
</div>
<div class="m-3">
	<small class="text-muted m-5">
		Need An Account?
		<a class="ml-2 text-primary" href="/register">
			Sign Up Now
		</a>
	</small>
</div>