<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />


<video autoplay muted loop id="myVideo">
	<source src="https://res.cloudinary.com/dchpyunul/video/upload/v1596865467/denoshop/Video/background_imdaje.mp4"
		type="video/mp4">
	Your browser does not support HTML5 video.
</video>


	<div class="logo">
	<a href="/"></a>
</div>

<div class="content-section">

	{{>  flashMsg/simpleFlashMsg}}
	{{> flashMsg/flashmsg}}
	<form action="/user/login" method="POST">

		<fieldset class="form-group">
			<legend class="border-bottom mb-4 shopFontTitle">
				Log In
			</legend>
			<div class="form-group">
				<label class="form-control-label" for="email">
					Email
				</label>
				<input class="form-control form-control-lg" id="email" name="email" required type="text" value="" />
			</div>
			<div class="form-group">
				<label class="form-control-label" for="password">
					Password
				</label>
				<input class="form-control form-control-lg" id="password" name="password" required type="password"
					value="" pattern=".{8,}" title="8 characters minimum" />
				<small class="text-muted">
					<a class="text-primary" href="#reset_request">
						Forgot Password?
					</a>
				</small>
			</div>
			{{!-- <div class="form-check">
				<input class="form-check-input" id="remember" name="remember" type="checkbox" value="y" />
				<label class="form-check-label" for="remember">
					Remember Me
				</label>
			</div> --}}

		</fieldset>

		<div class="form-group">
			<input class="btn btn-primary" id="submit" name="submit" type="submit" value="Login" />
		</div>




		<div class="divider mt-4">
		</div>
		<hr class="hr-text" data-content="OR">

		<div id="layout">
			<a id="googleButton" class="loginButton" href="/auth/google">
				<span class="googleIcon"></span>
				<span class="buttonText">Login with Google</span>
			</a>
			<a id="githubButton" class="loginButton" href="/auth/github">
				<span class="githubIcon"></span>
				<span class="buttonText">Login with Github</span>
			</a>
		</div>


		<div id="signUp" class="mt-3 mb-2">
			<div class="text-muted  redirectText">
				None of Above?
				<a class="ml-2 text-primary" href="/register">
					Sign Up With Email Now
				</a>
			</div>
		</div>


	</form>

</div>