.workContent {
    padding-top: 90px;
    padding-bottom: 40px;
}

.navMain {
    z-index: 999;
}

.outer-row {
    display: -ms-flexbox;
    display: flex;

    margin-bottom:20px;
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.container-border {
    margin-top: 40px;
    background: #fff;
    border-radius: 5px;
    float: left;
    width: 100%;
    text-align: left;
    box-shadow: 0 1px 2px 0 #e9e9e9;
    
    padding: 5px 20px 15px 20px;
    border: 1px solid #dddddd;

    /* padding: 5px 20px 15px 20px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2); */
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row.justify-content-center p {
    font-size: 16px;
    font-weight: 500;
    color: #3e3f5e;
    margin-bottom: 0;
    text-align: center;
    line-height: 24px;
}

.title585 {
    display: inline-block;
    /* float: left; */
    width: 100%;
    border-bottom: 1px solid #efefef;
}

.title585 h4 {
    float: left;
    margin-top: 0;
    font-weight: 500;
    line-height: 50px;
}

.address-placed-dt1 {
    float: left;
    padding: 20px;
    width: 100%;
}

.address-placed-dt1 li {
    margin-bottom: 10px;
}

.address-placed-dt1 li:last-child {
    margin-bottom: 0;
}

.stay-invoice {
    float: left;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.placed-bottom-dt {
    padding: 20px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: #3e3f5e;
    margin-bottom: 0;
    text-align: center;
    line-height: 24px;
    width: 100%;
}

.placed-bottom-dt span {
    font-weight: 600;
    color: #3e3f5e;
}

.invc-link {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #3e3f5e;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #3e3f5e;
}

a.invc-link.hover-btn:hover {
    color: #3e3f5e;
    background: #fff;
    text-decoration: none;
    border: 1px solid #3e3f5e;
    transition: all 0.2s ease-in-out;
}

.address-placed-dt1 p {
    text-align: left !important;
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        max-width: 720px !important;
    }
}
@media only screen and (min-width: 400px) and (max-width: 800px) {
    .container {
        max-width: 500px !important;
    }
}

/* @media only screen and (max-width: 800px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
} */