<script src="/js/user/deliveryAddresses.js"></script>

<div class="border-bottom userDashboardHeader">
    <i class="fa fa-location-arrow" aria-hidden="true"></i> My Address
</div>

<div>
   
                            <button type="button" class="addToCart">Add To Cart</button>
</div>