/*Modal*/
.addToCartModal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(230, 231, 232, 0.8);
}

.modalContent {
	margin: 20% auto;
	width: 70%;

	text-align: center;
	background-color: #262729;
	color: white;

	padding-bottom: 55px;

	box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.4);

	animation-name: modalOpen;
	animation-duration: 1.2s;
}

.modalHeader {
	display: flex;
	justify-content: flex-end;
}

.closeBtn {
	cursor: pointer;
	margin-right: 10px;
	font-size: 2em;
	transition: all 0.4s ease-in-out;
}

.closeBtn:hover {
	color: grey;
}

.modalBody {
	margin-top: 20px;
}

.modalBodyMessage {
	font-family: text;
}

.modalBodyHeader {
	font-family: text;
	font-size: 1.2em;
	margin-bottom: 5px;
}
/*Modal*/

/* homeContent*/
.workContent {
	padding-top: 50px;
}

/* Category Tabs */
.sellingItems {
	text-align: center;
	margin-top: 15px;
}

.tabButton {
	background-color: white;
	border: none;
	border-bottom: 1px solid #000066;
	font-family: shopFont2;
	font-size: 1.2em;
	font-weight: 500;

	cursor: pointer;
	text-decoration: none;
}

.tabButton:nth-child(1) {
	margin-right: 10px;
}

.tabButton:nth-child(2) {
	margin-left: 10px;
}

.tabButton:active{
	border: none;
}

.tabButton:focus{
	border: none;
}

.tabButton:hover {
	border: 0px;

	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0% 100%;
	background-repeat: repeat-x;

	background-size: auto 6px;
}
/* Category Tabs */

/* Category Pages */
.subPage h3 {
	text-align: center;
	width: 100%;

	margin-top: 50px;
	font-family: shopFont2;
	font-weight: 500;
	font-size: 3em;
}

.sellingTools {
	/*Making the first visible only*/
	display: none;
}

.recommendedProducts {
	/*Making the first visible only*/
	display: none;
}
/* Category Pages */

/* Modal */
@keyframes modalOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Modal */

/* Wishlist Button */
.wishlist_btn {
	width: 60px;
	height: 50px;
	background: url("https://res.cloudinary.com/xenonic/image/upload/c_scale,w_1780/v1596214801/heart_muequh.png") no-repeat;
	cursor: pointer; 
	transform: translate(35%, -40%);
}

.active {
	background-position: -1600px 0;
	transition: background 1s steps(26);
	transform: translate(40%, -40%);
}

.opac {
	opacity:0.5;
}

.opac:hover {
    opacity:1;
}

.opacity-off {
    opacity:1;
}

.opacity-off,.hover-opacity-off:hover{opacity:1}
.opacity,.hover-opacity:hover{opacity:0.60}
/* Wishlist Button */

/* Responsive */
@media only screen and (min-width: 1000px) {
	.workContent {
		display: block !important;
		padding-top: 0px;
	}
	
	.tabButton {
		font-size: 1.8em;
	}

	.subPage h3 {
		font-size: 3.7em;
	}
}

@media only screen and (min-width: 600px) {
	/*Modal*/
	.closeBtn {
		font-size: 3em;
	}

	.modalBody {
		margin-top: 20px;
	}

	.modalBodyHeader {
		font-size: 2em;
		margin-bottom: 5px;
	}
	.modalBodyMessage {
		font-size: 1.4em;
	}
	/*Modal*/
}
/* Responsive */