<div class="sideCart">
	<li>
		{{#if (equal title "Cart")}}
			<a href="home" class="shopLogo"></a>
		{{else}}
			<a href="cart" class="shopCartLogo"></a>
		{{/if}}
	</li>
</div>
<div class="sideCart">
	<li></li>
</div>