<div class="sideCart">
	<li>
		{{#if (equal title "Cart")}}
		<div class="shopLogoNav">
			<a href="home" class="shopLogo"></a>
		</div>
		{{else}}
		<div class="shopLogoNav mr-2">
			<a href="/cart" class="shopCartLogo">
				<span class='ml-4 mb-3 badge badge-info cartNumCount cartNumDesktopLogo' id='lblCartCount'></span>
			</a>
			
		</div>
		{{/if}}
	</li>
</div>
<div class="sideCart">
	<li></li>
</div>