{{!-- {% if title == 'dashboard'%}
              <li>
                <a href="#" class='onNavPage'>Dashboard</a>
              </li>
            {{else}}
              <li>
                <a href="#">Dashboard</a>
              </li>
            {{/if}}  --}}