{{#if (noEqual user)}}
	{{#if (equal title "Cart")}}
	<div class="logoPosition">
		<a href="/" class="shopLogo"></a>
	</div>
	{{else}}
	<div class="logoPosition">
		<a href="/cart" class="shopCartLogo mr-5">
		<span class='ml-4 mb-3 badge badge-info cartNumCount cartNumMobileLogo' id='lblCartCount'></span></a>
	</div>
	{{/if}}
{{else}}
{{/if}}