{{#if current_user.is_authenticated}}
	{{#if current_user.id}}

	{{else if (equal title "Cart")}}
		<div class="logoPosition">
			<a href="/" class="shopLogo"></a>
		</div>
	{{else}}
		<div class="logoPosition">
			<a href="/" class="shopCartLogo"></a>
		</div>
	{{/if}}
{{/if}}