{{#if (noEqual user)}}
	{{#if (equal title "Cart")}}
	<div class="logoPosition">
		<a href="/" class="shopLogo"></a>
	</div>
	{{else}}
	<div class="logoPosition">
		<a href="/cart" class="shopCartLogo"></a>
	</div>
	{{/if}}
{{else}}
{{/if}}